# Node.js / Backend
backend/node_modules/

# Frontend (React)
frontend/node_modules/

# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# IDE / Editor files
.vscode/
.idea/
*.swp

# OS
*.DS_Store

/node_modules